/**
 * Text colour utilities
 */

.c-grey01 { color: $grey01; }
.c-grey02 { color: $grey02;    }
.c-grey03 { color: $grey03; }
.c-grey04 { color: $grey04; }
.c-grey05 { color: $grey05; }

.c-yellow { color: $yellow01; }
.c-orange { color: $orange01; }
.c-red    { color: $red01; }
.c-green  { color: $green01; }
.c-blue   { color: $blue01; }

.c-yellow02 { color: $yellow02; }
.c-orange02 { color: $orange02; }
.c-red02    { color: $red02; }
.c-green02  { color: $green02; }
.c-blue02   { color: $blue02; }

/**
 * Background colour utilities
 */

.bgc-grey01 { background-color: $grey01; }
.bgc-grey02 { background-color: $grey02;    }
.bgc-grey03 { background-color: $grey03; }
.bgc-grey04 { background-color: $grey04; }
.bgc-grey05 { background-color: $grey05; }

.bgc-yellow { background-color: $yellow01; }
.bgc-orange { background-color: $orange01; }
.bgc-red    { background-color: $red01; }
.bgc-green  { background-color: $green01; }
.bgc-blue   { background-color: $blue01; }

.bgc-yellow { background-color: $yellow02; }
.bgc-orange { background-color: $orange02; }
.bgc-red    { background-color: $red02; }
.bgc-green  { background-color: $green02; }
.bgc-blue   { background-color: $blue02; }