/**
  * Colour
  */

$white: #ffffff;

$grey01: #ebebeb;
$grey02: #cccccc;
$grey03: #9ba3a5;
$grey04: #5f6668;
$grey05: #232323;

$yellow01: #ffd417;
$orange01: #f79b28;
$red01:    #e25d5d;
$green01:  #82c678;
$blue01:   #4ba8dc;

$yellow02: #ffb002;
$orange02: #ef5e06;
$red02:    #c82121;
$green02:  #429938;
$blue02:   #166EBD;


/**
 * Typography
 */

$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$font-size-ash1: 32px;
$font-size-ash2: 24px;
$font-size-ash3: 18px;
$font-size-ash4: 16px;
$font-size-ash5: 14px;
$font-size-ash6: 12px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height00: 1;
$line-height01: 1.2225;
$line-height02: 1.4;
$line-height03: 1.5;
$line-height04: 1.625;


/**
 * Spacing units
 */

$spacing-unit: 8px;