<div class="Guide-section" id="borders">
    <div class="Guide-row">
        <h2 class="u-pad-b01"><strong>Borders</strong></h2>
        <p>We try to build hierarchy within a view without borders but they can be used to delineate content blocks and sets of actions. Most borders have a border-width of 1px. Our Fat light border is 5px wide.</p>
    </div><!-- .Guide-row -->
    <div class="Guide-row">
        <h5 class="u-mar-b01">Dark border <span class="c-grey02">1px solid #5f6668</span></h5>
        <div style="border-top: 1px solid #5f6668;"></div>
    </div><!-- .Guide-row -->
    <div class="Guide-row">
        <h5 class="u-mar-b01">Medium border <span class="c-grey02">1px solid #ccc</span></h5>
        <div style="border-top: 1px solid #ccc;"></div>
    </div><!-- .Guide-row -->
    <div class="Guide-row">
        <h5 class="u-mar-b01">Light border <span class="c-grey02">1px solid #ebebeb</span></h5>
        <div style="border-top: 1px solid #ebebeb;"></div>
    </div><!-- .Guide-row -->
    <div class="Guide-row">
        <h5 class="u-mar-b01">Fat light border <span class="c-grey02">5px solid #ebebeb</span></h5>
        <div style="border-top: 5px solid #ebebeb;"></div>
    </div><!-- .Guide-row -->
</div><!-- .Guide-section -->