<div class="Guide-section" id="buttons">
    <div class="Guide-row">
        <h2 class="u-pad-b01"><strong>Buttons</strong></h2>
        <p>Buttons can be buttons, links, and inputs. There are We size button and input elements by the font-size, line-height, and padding of text within a given button. We have 3 classes of buttons: Neutral, Destructive, and Confirm. Hover and focus states for each class step 1 colour darker in the palette and box-shadow is applied.</p>
    </div><!-- .Guide-row -->
    <div class="Guide-grid">
        <div class="Guide-grid-cell u-size1of4">
            <button class="Btn">Cancel</button>
            <p class="as-h6 u-pad-t01">Neutral button button</small></p>
        </div>
        <div class="Guide-grid-cell u-size1of4">
            <a class="Btn" href="#">Cancel</a>
            <p class="as-h6 u-pad-t01">Neutral link button</small></p>
        </div>
        <div class="Guide-grid-cell u-size1of4">
            <input class="Btn" type="button" value='Cancel'>
            <p class="as-h6 u-pad-t01">Neutral input type="button"</small></p>
        </div>
    </div><!-- .Guide-row --><!-- End of Neutral buttons -->
    <div class="Guide-grid">
        <div class="Guide-grid-cell u-size1of4">
            <button class="Btn  Btn--confirm">Continue</button>
            <p class="as-h6 u-pad-t01">Confirm button button</small></p>
        </div>
        <div class="Guide-grid-cell u-size1of4">
            <a class="Btn  Btn--confirm" href="#">Continue</a>
            <p class="as-h6 u-pad-t01">Confirm link button</small></p>
        </div>
        <div class="Guide-grid-cell u-size1of4">
            <input class="Btn  Btn--confirm" type="button" value='Continue'>
            <p class="as-h6 u-pad-t01">Confirm input type="button"</small></p>
        </div>
    </div><!-- .Guide-row --><!-- End of Confirm buttons -->
    <div class="Guide-grid">
        <div class="Guide-grid-cell u-size1of4">
            <button class="Btn  Btn--destructive">Delete</button>
            <p class="as-h6 u-pad-t01">Destructive button button</small></p>
        </div>
        <div class="Guide-grid-cell u-size1of4">
            <a class="Btn  Btn--destructive" href="#">Delete</a>
            <p class="as-h6 u-pad-t01">Destructive link button</p>
        </div>
        <div class="Guide-grid-cell u-size1of4">
            <input class="Btn  Btn--destructive" type="button" value='Delete'>
            <p class="as-h6 u-pad-t01">Destructive input type="button"</small></p>
        </div>
    </div><!-- .Guide-row --><!-- End of Confirm buttons -->
    <div class="Guide-grid">
        <div class="Guide-grid-cell u-size1of4">
            <button class="Btn  is-disabled" disabled>Continue</button>
            <p class="as-h6 u-pad-t01">Disabled button button</small></p>
        </div>
        <div class="Guide-grid-cell u-size1of4">
            <a class="Btn  is-disabled">Continue</a>
            <p class="as-h6 u-pad-t01">Disabled link button</small></p>
        </div>
        <div class="Guide-grid-cell u-size1of4">
            <input class="Btn  is-disabled" type="button" value='Continue' disabled>
            <p class="as-h6 u-pad-t01">Disabled input type="button"</small></p>
        </div>
    </div><!-- .Guide-row --><!-- End of Disabled buttons -->
    <div class="Guide-row">
        <button class="Btn  Btn--block Btn--confirm">My block Confirm button</button>
    </div><!-- .Guide-row -->
    <div class="Guide-row">
        <a class="Btn  Btn--block Btn--confirm" href="#">My block link Confirm button</a>
    </div><!-- .Guide-row -->
</div><!-- .Guide-section -->