<div class="Guide-section" id="colours">
    <div class="Guide-row">
        <h2 class="u-pad-b01"><strong>Colours</strong></h2>
        <p>We have 5 base colours that are pulled from the Jostle logo and 5 shades of grey for aiding hierarchy of type and layout with fills and borders. We constrain designs to the ‘base palette’ and use the ‘Extended palette’ only to improve hierarchy or augment interaction.</p>
    </div><!-- .Guide-row -->
    <div class="Guide-grid  Guide-grid--squares">
        <div class="Guide-grid-cell u-pad-b00 u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #ebebeb;"></div>
            <p class="as-h6 u-mar-t01">grey01 <em class="c-grey02">#ebebeb</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #ccc;"></div>
            <p class="as-h6 u-mar-t01">grey02 <em class="c-grey02">#ccc</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #9ba3a5;"></div>
            <p class="as-h6 u-mar-t01">grey03 <em class="c-grey02">#9ba3a5</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #5f6668;"></div>
            <p class="as-h6 u-mar-t01">grey04 <em class="c-grey02">#5f6668</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #232323;"></div>
            <p class="as-h6 u-mar-t01">grey05 <em class="c-grey02">#232323</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <!-- End of Greys -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #ffd417;"></div>
            <p class="as-h6 u-mar-t01">yellow01 <em class="c-grey02">#ffd417</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #f79b28;"></div>
            <p class="as-h6 u-mar-t01">orange01 <em class="c-grey02">#f79b28</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #e25d5d;"></div>
            <p class="as-h6 u-mar-t01">red01 <em class="c-grey02">#e25d5d</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #82c678;"></div>
            <p class="as-h6 u-mar-t01">green01 <em class="c-grey02">#82c678</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #4ba8dc;"></div>
            <p class="as-h6 u-mar-t01">blue01 <em class="c-grey02">#4ba8dc</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <!-- End of 01 colours -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #ffb002;"></div>
            <p class="as-h6 u-mar-t01">yellow02 <em class="c-grey02">#ffb002</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #ef5e06;"></div>
            <p class="as-h6 u-mar-t01">orange02 <em class="c-grey02">#ef5e06</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #c82121;"></div>
            <p class="as-h6 u-mar-t01">red02 <em class="c-grey02">#c82121</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #429938;"></div>
            <p class="as-h6 u-mar-t01">green02 <em class="c-grey02">#429938</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <div class="Guide-grid-cell u-pad-b00">
            <div class="Guide-square u-pad-t04" style="background-color: #166EBD;"></div>
            <p class="as-h6 u-mar-t01">blue02 <em class="c-grey02">#166EBD</em></p>
        </div><!-- .Guide-grid-cell u-pad-b00 -->
        <!-- End of 02 colours -->
    </div><!-- .Guide-grid -->
</div><!-- .Guide-section -->