<div class="Guide-section" id="inputs">
    <div class="Guide-row">
        <h2 class="u-pad-b01"><strong>Inputs</strong></h2>
        <p>Like buttons, inputs are proportionally sized, have a solid, 1px, grey02 (#ccc) border, and a border-radius of 4px. Labels appear top-left in bold 14px font. Placeholders are grey03 (#9ba3a5).</p>
    </div><!-- .Guide-row -->
    <div class="Guide-grid">
        <div class="Guide-grid-cell u-size1of4">
            <input class="Btn  Btn--confirm" type="button" value='Continue'>
            <p class="as-h6 u-pad-t01">Confirm input type="button"</small></p>
        </div>
        <div class="Guide-grid-cell u-size1of4">
            <input class="Btn  Btn--confirm" type="reset" value='Continue'>
            <p class="as-h6 u-pad-t01">Confirm input type="reset"</small></p>
        </div>
        <div class="Guide-grid-cell u-size1of4">
            <input class="Btn  Btn--confirm" type="submit" value='Continue'>
            <p class="as-h6 u-pad-t01">Confirm input type="submit"</small></p>
        </div>
    </div><!-- .Guide-row -->
    <div class="Guide-row">
        <div class="Grid  Grid--withGutters">
            <div class="Grid-cell  u-size1of2">
                <label class="Label" for="email">Email</label>
                <input class="Input  Input--block" type="email" id="email" placeholder="eg. name@email.ca">
            </div><!-- .Grid-cell -->
            <div class="Grid-cell  u-size1of2">
                <label class="Label" for="password">Password</label>
                <input class="Input  Input--block" id="password" type="password">
            </div><!-- .Grid-cell -->
            <div class="Grid-cell  u-size1of2">
                <label class="Label" for="search">Search</label>
                <input class="Input  Input--block" id="search" type="search" placeholder="eg. Mary">
            </div><!-- .Grid-cell -->
            <div class="Grid-cell  u-size1of2">
                <label class="Label" for="text">Text</label>
                <input class="Input  Input--block" id="text" type="text" placeholder="eg. George Micheal">
            </div><!-- .Grid-cell -->
            <div class="Grid-cell  u-size1of2">
                <label class="Label" for="text">Date</label>
                <input class="Input  Input--block" id="date" type="date">
            </div><!-- .Grid-cell -->
            <div class="Grid-cell  u-size1of2">
                <label class="Label" for="text">Disabled text</label>
                <input class="Input  Input--block" id="text2" type="text" placeholder="Jane Doe" disabled>
            </div><!-- .Grid-cell -->
            <div class="Grid-cell  u-size1of1">
                <label class="Label" for="textarea">Textarea</label>
                <textarea class="Input  Input--block" name="textarea" id="textarea" rows="10" placeholder="Input some text…"></textarea>
            </div><!-- .Grid-cell -->
        </div><!-- .Grid -->
    </div><!-- .Guide-row -->
    <div class="Guide-row">
        <label class="Label" for="textarea">Select input</label>
        <div class="Select  Select--block">
            <select class="Input  Input--select  Select-input" name="select" id="select01">
                <option value="">Select and option…</option>
                <option value="option01">First option</option>
                <option value="option02">Second option</option>
                <optgroup>
                    <option value="group01">Group option 01</option>
                    <option value="group02">Group option 02</option>
                    <option value="group02">Group option 03</option>
                </optgroup>
                <option value="option03">Not a group</option>
            </select>
        </div><!-- .Select -->
    </div><!-- .Guide-row -->
</div><!-- .Guide-section -->