<ul class="Guide-nav">
    <li><a class="Guide-nav-link" href="#intro" title="Intro">Intro</a></li>
    <li class="Guide-nav-header u-pad-t00 u-pad-b00 bgc-grey01 line-height04"><span class="as-h6"><strong>Atoms</strong></span></li>
    <li><a class="Guide-nav-link" href="#colours" title="Colours">Colours</a></li>
    <li><a class="Guide-nav-link" href="#typography" title="Typography">Typography</a></li>
    <li><a class="Guide-nav-link" href="#spacingunits" title="Spacing Units">Spacing Units</a></li>
    <li><a class="Guide-nav-link" href="#borders" title="Borders">Borders</a></li>
    <li><a class="Guide-nav-link" href="#buttons" title="Buttons">Buttons</a></li>
    <li><a class="Guide-nav-link" href="#inputs" title="Inputs">Inputs</a></li>
</ul><!-- .Guide-nav -->