<div class="Guide-section" id="spacingunits">
    <div class="Guide-row">
        <h2 class="u-pad-b01"><strong>Spacing Units</strong></h2>
        <p>We use larger spacing units to delineate sections of content or controls. Smaller spacing units are used to space the elements that make up each section of content (organism) or cluster of controls (molecule).</p>
    </div><!-- .Guide-row -->
    <div class="Guide-grid  Guide-grid--squares">
        <div class="Guide-grid-cell">
            <div style="width: 8px; height: 8px; background-color: #cccccc;"></div>
            <p>x-small <em class="c-grey02">8px</em></p>
        </div><!-- .Guide-grid-cell -->
        <div class="Guide-grid-cell">
            <div style="width: 16px; height: 16px; background-color: #cccccc;"></div>
            <p>small <em class="c-grey02">16px</em></p>
        </div><!-- .Guide-grid-cell -->
        <div class="Guide-grid-cell">
            <div style="width: 24px; height: 24px; background-color: #cccccc;"></div>
            <p>medium <em class="c-grey02">24px</em></p>
        </div><!-- .Guide-grid-cell -->
        <div class="Guide-grid-cell">
            <div style="width: 32px; height: 32px; background-color: #cccccc;"></div>
            <p>large <em class="c-grey02">32px</em></p>
        </div><!-- .Guide-grid-cell -->
        <div class="Guide-grid-cell">
            <div style="width: 40px; height: 40px; background-color: #cccccc;"></div>
            <p>x-large <em class="c-grey02">40px</em></p>
        </div><!-- .Guide-grid-cell -->
    </div><!-- .Guide-grid -->
</div><!-- .Guide-section -->