<div class="Guide-section" id="typography">
    <div class="Guide-row">
        <h2 class="u-pad-b01"><strong>Typography</strong></h2>
        <p class="u-bodyLinks">We use <a href="https://fonts.google.com/specimen/Open+Sans" title="Open Sans on Google Fonts" target="_blank">Open Sans</a> by Steve Matteson. It was optimized for print, web, and mobile interfaces, and has excellent legibility characteristics in its letterforms. We use the Regular (400), <em>Regular Italic (400)</em>, <strong>Bold (700)</strong>, and <strong><em>Bold Italic (700)</em></strong> weights in our application.</p>
    </div><!-- .Guide-row -->
    <div class="Guide-grid">
        <div class="Guide-grid-cell  u-size1of2">
            <div class="Guide-row">
                <h1 class="as-h1">Header 01 <span class="c-grey02">32px</span></h1>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h2 class="as-h2">Header 02 <span class="c-grey02">24px</span></h2>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h3 class="as-h3">Header 03 <span class="c-grey02">18px</span></h3>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h4 class="as-h4">Header 04 <span class="c-grey02">16px</span></h4>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h5 class="as-h5">Header 05 <span class="c-grey02">14px</span></h5>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h6 class="as-h6">Header 06 <span class="c-grey02">12px</span></h6>
            </div><!-- .Guide-row -->
        </div><!-- .Guide-grid-cell -->
        <div class="Guide-grid-cell  u-textRight  u-size1of2">
            <div class="Guide-row">
                <h6 class="as-h6"><strong>Header 06</strong> <span class="c-grey02">12px</span></h6>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h5 class="as-h5"><strong>Header 05</strong> <span class="c-grey02">14px</span></h5>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h4 class="as-h4"><strong>Header 04</strong> <span class="c-grey02">16px</span></h4>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h3 class="as-h3"><strong>Header 03</strong> <span class="c-grey02">18px</span></h3>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h2 class="as-h2"><strong>Header 02</strong> <span class="c-grey02">24px</span></h2>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h1 class="as-h1"><strong>Header 01</strong> <span class="c-grey02">32px</span></h1>
            </div><!-- .Guide-row -->
        </div><!-- .Guide-grid-cell -->
    </div><!-- .Guide-grid -->
    <h5 class="u-mar-b01">Paragraphs <span class="c-grey02">16px / 26 (1.625)</span></h5>
    <p class="u-bodyLinks">Lorem ipsum dolor <a href="#">@felipe</a> sit amet, consectetur adipisicing elit. Porro <em>aliquam natus</em> rem, harum illo eius consequuntur sunt, vitae odit numquam quo <strong>maiores</strong> accusamus assumenda doloremque. <a href="#">Libero saepe</a> minus recusandae officiis.</p>
</div><!-- .Guide-section -->