---
layout: default
---

<div class="Guide-main">
    <ul class="Guide-nav">
        <li><a class="Guide-nav-link" href="#intro" title="Intro">Intro</a></li>
        <li class="Guide-nav-header u-pad-t00 u-pad-b00 bgc-grey01 line-height04"><span class="as-h6"><strong>Atoms</strong></span></li>
        <li><a class="Guide-nav-link" href="#colours" title="Colours">Colours</a></li>
        <li><a class="Guide-nav-link" href="#typography" title="Typography">Typography</a></li>
        <li><a class="Guide-nav-link" href="#spacingunits" title="Spacing Units">Spacing Units</a></li>
        <li><a class="Guide-nav-link" href="#borders" title="Borders">Borders</a></li>
        <li><a class="Guide-nav-link" href="#buttons" title="Buttons">Buttons</a></li>
        <li><a class="Guide-nav-link" href="#inputs" title="Inputs">Inputs</a></li>
    </ul><!-- .Guide-nav -->
    <div class="Guide-content">
        <div class="Guide-section" id="intro">
            <div class="Guide-row">
                <h1 class="u-pad-b01"><strong>Intro</strong></h1>
                <p>This guide is for designers and developers. The goal is to maintain consistency across the platform as well as design iterations. A button is a button is a btn.</p>
            </div><!-- .Guide-row -->
        </div><!-- .Guide-section -->
        <div class="Guide-section" id="colours">
            <div class="Guide-row">
                <h2 class="u-pad-b01"><strong>Colours</strong></h2>
                <p>We have 5 base colours that are pulled from the Jostle logo and 5 shades of grey for aiding hierarchy of type and layout with fills and borders. We constrain designs to the ‘base palette’ and use the ‘Extended palette’ only to improve hierarchy or augment interaction.</p>
            </div><!-- .Guide-row -->
            <div class="Guide-grid  Guide-grid--squares">
                <div class="Guide-grid-cell u-pad-b00 u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #ebebeb;"></div>
                    <p><small>grey01 <em class="c-grey02">#ebebeb</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #ccc;"></div>
                    <p><small>grey02 <em class="c-grey02">#ccc</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #9ba3a5;"></div>
                    <p><small>grey03 <em class="c-grey02">#9ba3a5</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #5f6668;"></div>
                    <p><small>grey04 <em class="c-grey02">#5f6668</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #232323;"></div>
                    <p><small>grey05 <em class="c-grey02">#232323</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <!-- End of Greys -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #ffd417;"></div>
                    <p><small>yellow01 <em class="c-grey02">#ffd417</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #f79b28;"></div>
                    <p><small>orange01 <em class="c-grey02">#f79b28</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #e25d5d;"></div>
                    <p><small>red01 <em class="c-grey02">#e25d5d</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #82c678;"></div>
                    <p><small>green01 <em class="c-grey02">#82c678</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #4ba8dc;"></div>
                    <p><small>blue01 <em class="c-grey02">#4ba8dc</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <!-- End of 01 colours -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #ffb002;"></div>
                    <p><small>yellow02 <em class="c-grey02">#ffb002</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #ef5e06;"></div>
                    <p><small>orange02 <em class="c-grey02">#ef5e06</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #c82121;"></div>
                    <p><small>red02 <em class="c-grey02">#c82121</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #429938;"></div>
                    <p><small>green02 <em class="c-grey02">#429938</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <div class="Guide-grid-cell u-pad-b00">
                    <div class="Guide-square u-pad-t04" style="background-color: #166EBD;"></div>
                    <p><small>blue02 <em class="c-grey02">#166EBD</em></small></p>
                </div><!-- .Guide-grid-cell u-pad-b00 -->
                <!-- End of 02 colours -->
            </div><!-- .Guide-grid -->
        </div><!-- .Guide-section -->
        <div class="Guide-section" id="typography">
            <div class="Guide-row">
                <h2 class="u-pad-b01"><strong>Typography</strong></h2>
                <p class="u-bodyLinks">We use <a href="https://fonts.google.com/specimen/Open+Sans" title="Open Sans on Google Fonts" target="_blank">Open Sans</a> by Steve Matteson. It was optimized for print, web, and mobile interfaces, and has excellent legibility characteristics in its letterforms. We use the Regular (400), <em>Regular Italic (400)</em>, <strong>Bold (700)</strong>, and <strong><em>Bold Italic (700)</em></strong> weights in our application.</p>
            </div><!-- .Guide-row -->
            <div class="Guide-grid">
                <div class="Guide-grid-cell  u-size1of2">
                    <div class="Guide-row">
                        <h1 class="as-h1">Header 01 <span class="c-grey02">32px</span></h1>
                    </div><!-- .Guide-row -->
                    <div class="Guide-row">
                        <h2 class="as-h2">Header 02 <span class="c-grey02">24px</span></h2>
                    </div><!-- .Guide-row -->
                    <div class="Guide-row">
                        <h3 class="as-h3">Header 03 <span class="c-grey02">18px</span></h3>
                    </div><!-- .Guide-row -->
                    <div class="Guide-row">
                        <h4 class="as-h4">Header 04 <span class="c-grey02">16px</span></h4>
                    </div><!-- .Guide-row -->
                    <div class="Guide-row">
                        <h5 class="as-h5">Header 05 <span class="c-grey02">14px</span></h5>
                    </div><!-- .Guide-row -->
                    <div class="Guide-row">
                        <h6 class="as-h6">Header 06 <span class="c-grey02">12px</span></h6>
                    </div><!-- .Guide-row -->
                </div><!-- .Guide-grid-cell -->
                <div class="Guide-grid-cell  u-textRight  u-size1of2">
                    <div class="Guide-row">
                        <h6 class="as-h6"><strong>Header 06</strong> <span class="c-grey02">12px</span></h6>
                    </div><!-- .Guide-row -->
                    <div class="Guide-row">
                        <h5 class="as-h5"><strong>Header 05</strong> <span class="c-grey02">14px</span></h5>
                    </div><!-- .Guide-row -->
                    <div class="Guide-row">
                        <h4 class="as-h4"><strong>Header 04</strong> <span class="c-grey02">16px</span></h4>
                    </div><!-- .Guide-row -->
                    <div class="Guide-row">
                        <h3 class="as-h3"><strong>Header 03</strong> <span class="c-grey02">18px</span></h3>
                    </div><!-- .Guide-row -->
                    <div class="Guide-row">
                        <h2 class="as-h2"><strong>Header 02</strong> <span class="c-grey02">24px</span></h2>
                    </div><!-- .Guide-row -->
                    <div class="Guide-row">
                        <h1 class="as-h1"><strong>Header 01</strong> <span class="c-grey02">32px</span></h1>
                    </div><!-- .Guide-row -->
                </div><!-- .Guide-grid-cell -->
            </div><!-- .Guide-grid -->
            <h5 class="u-mar-b01">Paragraphs <span class="c-grey02">16px / 26 (1.625)</span></h5>
            <p class="u-bodyLinks">Lorem ipsum dolor <a href="#">@felipe</a> sit amet, consectetur adipisicing elit. Porro <em>aliquam natus</em> rem, harum illo eius consequuntur sunt, vitae odit numquam quo <strong>maiores</strong> accusamus assumenda doloremque. <a href="#">Libero saepe</a> minus recusandae officiis.</p>
        </div><!-- .Guide-section -->
        <div class="Guide-section" id="spacingunits">
            <div class="Guide-row">
                <h2 class="u-pad-b01"><strong>Spacing Units</strong></h2>
                <p>We use larger spacing units to delineate sections of content or controls. Smaller spacing units are used to space the elements that make up each section of content (organism) or cluster of controls (molecule).</p>
            </div><!-- .Guide-row -->
            <div class="Guide-grid  Guide-grid--squares">
                <div class="Guide-grid-cell">
                    <div style="width: 8px; height: 8px; background-color: #cccccc;"></div>
                    <p>x-small <em class="c-grey02">8px</em></p>
                </div><!-- .Guide-grid-cell -->
                <div class="Guide-grid-cell">
                    <div style="width: 16px; height: 16px; background-color: #cccccc;"></div>
                    <p>small <em class="c-grey02">16px</em></p>
                </div><!-- .Guide-grid-cell -->
                <div class="Guide-grid-cell">
                    <div style="width: 24px; height: 24px; background-color: #cccccc;"></div>
                    <p>medium <em class="c-grey02">24px</em></p>
                </div><!-- .Guide-grid-cell -->
                <div class="Guide-grid-cell">
                    <div style="width: 32px; height: 32px; background-color: #cccccc;"></div>
                    <p>large <em class="c-grey02">32px</em></p>
                </div><!-- .Guide-grid-cell -->
                <div class="Guide-grid-cell">
                    <div style="width: 40px; height: 40px; background-color: #cccccc;"></div>
                    <p>x-large <em class="c-grey02">40px</em></p>
                </div><!-- .Guide-grid-cell -->
            </div><!-- .Guide-grid -->
        </div><!-- .Guide-section -->
        <div class="Guide-section" id="borders">
            <div class="Guide-row">
                <h2 class="u-pad-b01"><strong>Borders</strong></h2>
                <p>We try to build hierarchy within a view without borders but they can be used to delineate content blocks and sets of actions. Most borders have a border-width of 1px. Our Fat light border is 5px wide.</p>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h5 class="u-mar-b01">Dark border <span class="c-grey02">1px solid #5f6668</span></h5>
                <div style="border-top: 1px solid #5f6668;"></div>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h5 class="u-mar-b01">Medium border <span class="c-grey02">1px solid #ccc</span></h5>
                <div style="border-top: 1px solid #ccc;"></div>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h5 class="u-mar-b01">Light border <span class="c-grey02">1px solid #ebebeb</span></h5>
                <div style="border-top: 1px solid #ebebeb;"></div>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <h5 class="u-mar-b01">Fat light border <span class="c-grey02">5px solid #ebebeb</span></h5>
                <div style="border-top: 5px solid #ebebeb;"></div>
            </div><!-- .Guide-row -->
        </div><!-- .Guide-section -->
        <div class="Guide-section" id="buttons">
            <div class="Guide-row">
                <h2 class="u-pad-b01"><strong>Buttons</strong></h2>
                <p>Buttons can be buttons, links, and inputs. There are We size button and input elements by the font-size, line-height, and padding of text within a given button. We have 3 classes of buttons: Neutral, Destructive, and Confirm. Hover and focus states for each class step 1 colour darker in the palette and box-shadow is applied.</p>
            </div><!-- .Guide-row -->
            <div class="Guide-grid">
                <div class="Guide-grid-cell u-size1of4">
                    <button class="Btn">Cancel</button>
                    <p class="as-h6 u-pad-t01">Neutral button button</small></p>
                </div>
                <div class="Guide-grid-cell u-size1of4">
                    <a class="Btn" href="#">Cancel</a>
                    <p class="as-h6 u-pad-t01">Neutral link button</small></p>
                </div>
                <div class="Guide-grid-cell u-size1of4">
                    <input class="Btn" type="button" value='Cancel'>
                    <p class="as-h6 u-pad-t01">Neutral input type="button"</small></p>
                </div>
            </div><!-- .Guide-row --><!-- End of Neutral buttons -->
            <div class="Guide-grid">
                <div class="Guide-grid-cell u-size1of4">
                    <button class="Btn  Btn--confirm">Continue</button>
                    <p class="as-h6 u-pad-t01">Confirm button button</small></p>
                </div>
                <div class="Guide-grid-cell u-size1of4">
                    <a class="Btn  Btn--confirm" href="#">Continue</a>
                    <p class="as-h6 u-pad-t01">Confirm link button</small></p>
                </div>
                <div class="Guide-grid-cell u-size1of4">
                    <input class="Btn  Btn--confirm" type="button" value='Continue'>
                    <p class="as-h6 u-pad-t01">Confirm input type="button"</small></p>
                </div>
            </div><!-- .Guide-row --><!-- End of Confirm buttons -->
            <div class="Guide-grid">
                <div class="Guide-grid-cell u-size1of4">
                    <button class="Btn  Btn--destructive">Delete</button>
                    <p class="as-h6 u-pad-t01">Destructive button button</small></p>
                </div>
                <div class="Guide-grid-cell u-size1of4">
                    <a class="Btn  Btn--destructive" href="#">Delete</a>
                    <p class="as-h6 u-pad-t01">Destructive link button</p>
                </div>
                <div class="Guide-grid-cell u-size1of4">
                    <input class="Btn  Btn--destructive" type="button" value='Delete'>
                    <p class="as-h6 u-pad-t01">Destructive input type="button"</small></p>
                </div>
            </div><!-- .Guide-row --><!-- End of Confirm buttons -->
            <div class="Guide-grid">
                <div class="Guide-grid-cell u-size1of4">
                    <button class="Btn  is-disabled" disabled>Continue</button>
                    <p class="as-h6 u-pad-t01">Disabled button button</small></p>
                </div>
                <div class="Guide-grid-cell u-size1of4">
                    <a class="Btn  is-disabled">Continue</a>
                    <p class="as-h6 u-pad-t01">Disabled link button</small></p>
                </div>
                <div class="Guide-grid-cell u-size1of4">
                    <input class="Btn  is-disabled" type="button" value='Continue' disabled>
                    <p class="as-h6 u-pad-t01">Disabled input type="button"</small></p>
                </div>
            </div><!-- .Guide-row --><!-- End of Disabled buttons -->
            <div class="Guide-row">
                <button class="Btn  Btn--block Btn--confirm">My block Confirm button</button>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <a class="Btn  Btn--block Btn--confirm" href="#">My block link Confirm button</a>
            </div><!-- .Guide-row -->
        </div><!-- .Guide-section -->
        <div class="Guide-section" id="inputs">
            <div class="Guide-row">
                <h2 class="u-pad-b01"><strong>Inputs</strong></h2>
                <p>Like buttons, inputs are proportionally sized, have a solid, 1px, grey02 (#ccc) border, and a border-radius of 4px. Labels appear top-left in bold 14px font. Placeholders are grey03 (#9ba3a5).</p>
            </div><!-- .Guide-row -->
            <div class="Guide-grid">
                <div class="Guide-grid-cell u-size1of4">
                    <input class="Btn  Btn--confirm" type="button" value='Continue'>
                    <p class="as-h6 u-pad-t01">Confirm input type="button"</small></p>
                </div>
                <div class="Guide-grid-cell u-size1of4">
                    <input class="Btn  Btn--confirm" type="reset" value='Continue'>
                    <p class="as-h6 u-pad-t01">Confirm input type="reset"</small></p>
                </div>
                <div class="Guide-grid-cell u-size1of4">
                    <input class="Btn  Btn--confirm" type="submit" value='Continue'>
                    <p class="as-h6 u-pad-t01">Confirm input type="submit"</small></p>
                </div>
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <div class="Grid  Grid--withGutters">
                    <div class="Grid-cell  u-size1of2">
                        <label class="Label" for="email">Email</label>
                        <input class="Input  Input--block" type="email" id="email" placeholder="eg. name@email.ca">
                    </div><!-- .Grid-cell -->
                    <div class="Grid-cell  u-size1of2">
                        <label class="Label" for="password">Password</label>
                        <input class="Input  Input--block" id="password" type="password">
                    </div><!-- .Grid-cell -->
                    <div class="Grid-cell  u-size1of2">
                        <label class="Label" for="search">Search</label>
                        <input class="Input  Input--block" id="search" type="search" placeholder="eg. Mary">
                    </div><!-- .Grid-cell -->
                    <div class="Grid-cell  u-size1of2">
                        <label class="Label" for="text">Text</label>
                        <input class="Input  Input--block" id="text" type="text" placeholder="eg. George Micheal">
                    </div><!-- .Grid-cell -->
                    <div class="Grid-cell  u-size1of2">
                        <label class="Label" for="text">Date</label>
                        <input class="Input  Input--block" id="date" type="date">
                    </div><!-- .Grid-cell -->
                    <div class="Grid-cell  u-size1of2">
                        <label class="Label" for="text">Disabled text</label>
                        <input class="Input  Input--block" id="text2" type="text" placeholder="Jane Doe" disabled>
                    </div><!-- .Grid-cell -->
                    <div class="Grid-cell  u-size1of1">
                        <label class="Label" for="textarea">Textarea</label>
                        <textarea class="Input  Input--block" name="textarea" id="textarea" rows="10" placeholder="Input some text…"></textarea>
                    </div><!-- .Grid-cell -->
                </div><!-- .Grid -->
            </div><!-- .Guide-row -->
            <div class="Guide-row">
                <label class="Label" for="textarea">Select input</label>
                <div class="Select  Select--block">
                    <select class="Input  Input--select  Select-input" name="select" id="select01">
                        <option value="">Select and option…</option>
                        <option value="option01">First option</option>
                        <option value="option02">Second option</option>
                        <optgroup>
                            <option value="group01">Group option 01</option>
                            <option value="group02">Group option 02</option>
                            <option value="group02">Group option 03</option>
                        </optgroup>
                        <option value="option03">Not a group</option>
                    </select>
                </div><!-- .Select -->
            </div><!-- .Guide-row -->
        </div><!-- .Guide-section -->
</div><!-- .Guide-main -->